.chat-main
  .header-group
    .group-info
      %p.group-info__group-name 
        = @group.name
      .group-info__member-list
        Member :
        .group-info__member-list--users
          - @group.users.each do |user|
            = user.name
          
    = link_to edit_group_path(@group), class: 'header-group__edit' do
      .header-group__edit--text Edit

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .new_message__input-box
        = f.text_field :content, class: 'new_message__input-box--text', placeholder: 'type a message'
        = f.label :image, class: 'new_message__input-box--image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden', style:'display:none'
      = f.submit 'Send', class: 'form__send'