.side-ber
  .header-user
    .top-items
      %p.top-items__user-name masa
      .top-items__icons
        = link_to '#', class: 'top-items__icons top-items__icons--new-group' do
          = icon('fa', 'edit', class: 'top-items__icons--icon')
        = link_to '#', class: 'top-items__icons top-items__icons--user-edit' do
          = icon('fa', 'cog', class: 'top-items__icons--icon')
    
  .group-side
    = link_to '#', class: 'group-list' do
      .group-list
        %p.group-list__group-name techcamp
        %p.group-list__group-message こんにちは！
    = link_to '#', class: 'group-list' do
      .group-list 
        %p.group-list__group-name hoge
        %p.group-list__group-message まだメッセージがありません